{% extends 'layout.twig' %}

{% set pageTitle = 'Fedict - Webinterface' %}

{% block pageContent %}
    <input id="questionButton" type="image" src="./images/question.png"/>
    <form id="searchForm" action="index.php" method="post">
        <select id="searchOption" name="searchOption" onchange="this.form.submit()">
            {% if searchOption == 'Catalog' %}
                <option value="Catalog" selected>Catalog</option>
            {% else %}
                <option value="Catalog">Catalog</option>
            {% endif %}
            {% if searchOption == 'Dataset' %}
                <option value="Dataset" selected>Dataset</option>
            {% else %}
                <option value="Dataset">Dataset</option>
            {% endif %}
            {% if searchOption == 'Distribution' %}
                <option value="Distribution" selected>Distribution</option>
            {% else %}
                <option value="Distribution">Distribution</option>
            {% endif %}
        </select>
        <input name="search" id="search" class="search" type="text" placeholder="Search" value="{{ search }}"/>
    </form>

    <script src='http://client.linkeddatafragments.org/scripts/ldf-client-jquery-packaged.js'></script>
    <script>
        function init() {
            key_count_global = 0; // Global variable
            document.getElementById("search").onkeypress = function() {
                key_count_global++;
                setTimeout("lookup("+key_count_global+")", 300);
            }
        }
        $(document).ready(init);
        function lookup(key_count) {
            if(key_count == key_count_global) { // The control will reach this point 1 second after user stops typing.
                // Do the ajax lookup here.
                $('form#searchForm').submit();
            }
        }
    </script>

    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Predicate</th>
                <th>Object</th>
            </tr>
            </thead>
        </table>
    </div>
    <div  class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>

    <script src='http://client.linkeddatafragments.org/scripts/ldf-client-jquery-packaged.js'></script>
    <script>
        var fragmentsClient = new ldf.FragmentsClient('http://185.14.185.158:5000/triplestore');

        var query = 'SELECT ?s ?p ?o { ?s a <http://www.w3.org/ns/dcat#' + "{{ searchOption }}" + '> . ' +
                        '?s <http://purl.org/dc/terms/title> ?o . ' +
                        '?s ?p ?o' +
                        ' } ',
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });


        if ("{{ search }}" == ""){
            var query = 'SELECT ?s ?p ?o WHERE {?s  ?p <http://www.w3.org/ns/dcat#' + "{{ searchOption }}" + '>. ?s ?p ?o } ',
            results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
        }

        var searchOption = "{{ search }}";
            results.on('data', function (data ) {
                var subject = "";
                var predicate = "";
                var object = "";
                $.each(data, function(key, value) {

                    if (key == "?s") subject = value;
                    else if (key == "?p") predicate = value;
                      else if (key == "?o" && (value.toLowerCase().indexOf(searchOption.toLowerCase()) > -1 || searchOption == "")  ) {
                        object = value
                        var output =
                                '<tr class="tableContent" data-url="'+ subject + '">' +
                                '<td>'+ subject +'</td>' +
                                '<td>'+ predicate + '</td>' +
                                '<td>'+ object +'</td>' +
                                '</tr>';
                        $("tbody").append(output);
                    }

                });
                $('tr.tableContent').click(function() {
                    $url = $(this).attr('data-url');
                    window.open('webservice.php?subject='  + $url, '_self');
                });
        });
    </script>
    </tbody>
    </table>
    </div>


    <ol id="joyRideTipContent">
        <li data-id="" data-button="Start"
            data-options="tipLocation:center;tipAnimation:fade">
            <h2>Welcome!</h2>
            <p>Press Start to begin the guide.</p>
        </li>

        <li data-id="searchOption" data-button="Next"
            data-options="tipLocation:top;tipAnimation:fade">
            <h2>Search categories</h2>
            <p>There are 3 categories:</p>
            <ul>
                <li>Catalog</li>
                <li>Dataset</li>
                <li>Distribution</li>
            </ul>

        </li>

        <li data-id="searchOption" data-button="Next"
            data-options="tipLocation:top;tipAnimation:fade">
            <h2>Catalog</h2>
            <p>Provides data exchange.
                Currently there is only one catalog being used: the services of <a href="http://fsb.rovin.be/" target="_blank">http://fsb.rovin.be/</a>
            </p>
        </li>

        <li data-id="searchOption" data-button="Next"
            data-options="tipLocation:top;tipAnimation:fade">
            <h2>Dataset</h2>
            <p>Data that is related to services or their families.</p>
            <p>For example: <a href="http://fsb.rovin.be/family/S216-eInvoiceServices">http://fsb.rovin.be/family/S216-eInvoiceServices</a></p>
            <p>This specific dataset consists of 2 distributions:
                <a href="http://fsb.rovin.be/service/S218-SupplierService">S218-SupplierService</a> &
                <a href="http://fsb.rovin.be/service/S217-CustomerService">S217-CustomerService</a>
            </p>
        </li>

        <li data-id="searchOption" data-button="Next"
            data-options="tipLocation:top;tipAnimation:fade">
            <h2>Distribution</h2>
            <p>Data that is related to services or their methods.</p>
        </li>



        <li data-id="search" data-button="Next"
            data-options="tipLocation:top;tipAnimation:fade">
            <h2>Search field</h2>
            <p>Enter something you want to search.</p>
            <p>It will automatically search for results.</p>

        </li>

        <li data-id="" data-button="Thank you for your time"
            data-options="tipLocation:center">
            <h3>We hope the guide helped you.</h3>
        </li>

    </ol>

    <script>
        $(window).load(function() {
            $("#joyRideTipContent").joyride({
                modal: true,
                expose: true
            });
        });
        $("#questionButton").click(function() {
            $("#joyRideTipContent").joyride({autoStart: true});
        });
    </script>

{% endblock %}