{% extends 'layout.twig' %}

{% set pageTitle = 'Webservices' %}

{% block pageContent %}
    <form action="index.php" method="post">
        <input name="catalog" type="text" placeholder="Catalog" value="{{ catalog }}"/>
        <input name="dataset" type="text" placeholder="Dataset" value="{{ dataset }}"/>
        <input name="distribution" type="text" placeholder="Distribution" value="{{ distribution }}" />
        <input type="submit" value="Search">
    </form>


    <div  class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Predicate</th>
                <th>Object</th>
            </tr>
            </thead>
        </table>
    </div>
    <div  class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>

    <script src='http://client.linkeddatafragments.org/scripts/ldf-client-jquery-packaged.js'></script>
    <script>
        var fragmentsClient = new ldf.FragmentsClient('http://fragments.dbpedia.org/2014/en');

        var query = 'SELECT * { ?s ?p <http://dbpedia.org/resource/Belgium>. ?s ?p ?o } LIMIT 100',
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
        results.on('data', function (data) {
            var subject = "";
            var predicate = "";
            var object = "";
            $.each(data, function(key, value) {
                console.log("Key:" + key + " | value: " + value);
                if (key == "?s") subject = value;
                else if (key == "?p") predicate = value;
                else if (key == "?o") {
                    object = value
                    var output =
                            '<tr>' +
                            '<td>'+ subject.substring(subject.lastIndexOf('/') + 1) +'</td>' +
                            '<td>'+ predicate.substring(subject.lastIndexOf('/') + 1) +'</td>' +
                            '<td>'+ object.substring(subject.lastIndexOf('/') + 1) +'</td>' +
                            '</tr>';
                    console.log("Subject: " + subject + " - Predicate: " + predicate + " - Object: " + object)
                    $("tbody").append(output);
                }
            });
        });

    </script>
    {% for service in services %}
            <tr onclick="document.location = 'webservice.php?name={{ service.name }}'
                   +'&description={{ service.description }}'
                   +'&method={{ service.method }}';">
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.method }}</td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

    <h2>URL Parameters</h2>
    <p>Catalog = {{ catalog }}</p>
    <p>Dataset = {{ dataset }}</p>
    <p>method = {{ distribution }}</p>

    <h2>Dump</h2>
    {{ dump(services) }}
{% endblock %}