{% extends 'layout.twig' %}

{% set pageTitle = 'Fedict - Webinterface' %}

{% block pageContent %}
    <form id="searchForm" action="index.php" method="post">
        <select name="searchOption" onchange="this.form.submit()">
            {% if searchOption == 'Catalog' %}
                <option value="Catalog" selected>Catalog</option>
            {% else %}
                <option value="Catalog">Catalog</option>
            {% endif %}
            {% if searchOption == 'Dataset' %}
                <option value="Dataset" selected>Dataset</option>
            {% else %}
                <option value="Dataset">Dataset</option>
            {% endif %}
            {% if searchOption == 'Distribution' %}
                <option value="Distribution" selected>Distribution</option>
            {% else %}
                <option value="Distribution">Distribution</option>
            {% endif %}
        </select>
        <input name="search" class="search" type="text" placeholder="Search" value="{{ search }}"/>
    </form>

    <script>
        function init() {
            key_count_global = 0; // Global variable
            $("search").onkeypress = function() {
                alert("clicked");
                key_count_global++;
                setTimeout("lookup("+key_count_global+")", 300);
            }
        }
        $(document).ready(init);
        //window.onload = init; //or $(document).ready(init); - for jQuery

        function lookup(key_count) {
            if(key_count == key_count_global) { // The control will reach this point 1 second after user stops typing.
                // Do the ajax lookup here.
                //document.getElementById("status_stop").innerHTML = " ... lookup result ...";
                $('form#searchForm').submit();
            }
        }
    </script>


    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Predicate</th>
                <th>Object</th>
            </tr>
            </thead>
        </table>
    </div>
    <div  class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <div id="loading">
        <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." />
    </div>
    <script src='http://client.linkeddatafragments.org/scripts/ldf-client-jquery-packaged.js'></script>
    <script>
        var fragmentsClient = new ldf.FragmentsClient('http://185.14.185.158:5000/triplestore');

        var query = 'SELECT ?s ?p ?o { ?s a <http://www.w3.org/ns/dcat#' + "{{ searchOption }}" + '> . ' +
                        '?s <http://purl.org/dc/terms/title> ?o . ' +
                        '?s ?p ?o' +
                        ' } ',
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });


        if ("{{ search }}" == ""){
            var query = 'SELECT ?s ?p ?o WHERE {?s  ?p <http://www.w3.org/ns/dcat#' + "{{ searchOption }}" + '>. ?s ?p ?o } ',
            results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
        }

        var searchOption = "{{ search }}";
            results.on('data', function (data ) {
                var subject = "";
                var predicate = "";
                var object = "";

                $('#loading').show();

                $.each(data, function(key, value) {
                   console.log("Key:" + key + " | value: " + value);
                    if (key == "?s") subject = value;
                    else if (key == "?p") predicate = value;
                      else if (key == "?o" && (value.toLowerCase().indexOf(searchOption.toLowerCase()) > -1 || searchOption == "")  ) {
                        object = value
                        var output =
                                '<tr>' +
                                '<td>'+ subject +'</td>' +
                                '<td>'+ predicate + '</td>' +
                                '<td>'+ object +'</td>' +
                                '</tr>';
                        console.log("Subject: " + subject + " - Predicate: " + predicate + " - Object: " + object);
                        $("tbody").append(output);
                        $('#loading').hide();
                        $('tr').click(function() {
                            document.location = 'webservice.php?subject=' + subject;
                        });
                    }else {
                        $('#loading').hide();
                    }

                });
        });

    </script>
    </tbody>
    </table>
    </div>
{% endblock %}