{% extends 'layout.twig' %}

{% set pageTitle = 'Webservices' %}

{% block pageContent %}
    <form action="index.php" method="post">
        <select name="searchOption">
            {% if searchOption == 'catalog' %}
                <option value="catalog" selected>Catalog</option>
            {% else %}
                <option value="catalog">Catalog</option>
            {% endif %}
            {% if searchOption == 'dataset' %}
                <option value="dataset" selected>Dataset</option>
            {% else %}
                <option value="dataset">Dataset</option>
            {% endif %}
            {% if searchOption == 'distribution' %}
                <option value="distribution" selected>Distribution</option>
            {% else %}
                <option value="distribution">Distribution</option>
            {% endif %}
        </select>
        <input name="search" type="text" placeholder="Enter search term" value="{{ search }}"/>
        <input type="submit" value="Search">
    </form>


    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Predicate</th>
                <th>Object</th>
            </tr>
            </thead>
        </table>
    </div>
    <div  class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>

    <script src='http://client.linkeddatafragments.org/scripts/ldf-client-jquery-packaged.js'></script>
    <script>
        var fragmentsClient = new ldf.FragmentsClient('http://185.14.185.158:5000/triplestore');
        loadData("Dataset", "");
        function loadData(type, filter){
            var query = 'SELECT * { ?s ?p <http://www.w3.org/ns/dcat#Dataset>. ?s ?p ?o } LIMIT 100',
                    results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
            results.on('data', function (data) {
                var subject = "";
                var predicate = "";
                var object = "";
                $.each(data, function(key, value) {
                    console.log("Key:" + key + " | value: " + value);
                    if (key == "?s") subject = value;
                    else if (key == "?p") predicate = value;
                    else if (key == "?o") {
                        object = value
                        var output =
                                '<tr>' +
                                '<td>'+ subject +'</td>' +
                                '<td>'+ predicate + '</td>' +
                                '<td>'+ object +'</td>' +
                                '</tr>';
                        console.log("Subject: " + subject + " - Predicate: " + predicate + " - Object: " + object)
                        $("tbody").append(output);
                    }
                });
            });
        }


    </script>
    {% for service in services %}
            <tr onclick="document.location = 'webservice.php?name={{ service.name }}'
                   +'&description={{ service.description }}'
                   +'&method={{ service.method }}';">
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.method }}</td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

    <h2>URL Parameters</h2>
    <p>Search Option = {{ searchOption }}</p>
    <p>Search = {{ search }}</p>
{% endblock %}